
<table id="beverages">
  <div class="error" role="alert">{{errorMsg}}</div>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">DATE</th>
      <th scope="col">BEVERAGE</th>
      <th scope="col">COUNTRY OF ORIGIN</th>
      <th scope="col">PRICE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let beverage of beverages$.result">
      <td><img src="{{ beverage.image_thumb_url}}" alt="{{beverage.name}}"/></td>
      <td>{{ beverage.released_on | date }}</td>
      <td class="name-tasting-note">
      <pre>
{{ beverage.name }}<span class="tasting-note">
"{{ beverage.tasting_note }}"</span>
      </pre>
      </td>
      <td>{{ beverage.origin }}</td>
      <td>{{ beverage.price_in_cents | convertCents | currency }}</td>
    </tr>
  </tbody>
</table>
