$color: #0D4F8B;

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

}

th, td {
  padding: 20px;
  vertical-align: top;
}

tr, td {
  text-align: left;
}

tr {
  border: solid;
  border-width: 0px 0px 1.5px 0px;
  border-color: $color;
}

th {
  color: $color;
}

.name-tasting-note {
  white-space: pre;
}

.tasting-note {
  font-style: italic;
}

pre {
  padding-top: 0;
  margin-top: 0;
  white-space: pre-wrap;
  font-family: 'Roboto', sans-serif;
}

thead th:nth-child(1) {
  width: 20%;
}
thead th:nth-child(2) {
  width: 20%;
}
thead th:nth-child(3) {
  width: 20%;
}
thead th:nth-child(4) {
  width: 20%;
}
thead th:nth-child(5) {
  width: 20%;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}
