/* You can add global styles to this file, and also import other style files */
body {
     margin: 25px;
     font-family: 'Roboto', sans-serif;
     height: 100vh;
}

@media (max-width: 760px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

  th {
    color: #0D4F8B;
  }

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: ""; }
	td:nth-of-type(2):before { content: "Date"; }
	td:nth-of-type(3):before { content: "Beverage"; }
	td:nth-of-type(4):before { content: "Country of Origin"; }
	td:nth-of-type(5):before { content: "Price"; }

}
